body {  
    background: rgb(12,124,90);
    background: radial-gradient(circle, rgba(12,124,90,1) 51%, rgba(5,126,111,1) 90%);
}

.parallax {
    background-image: url();
  
    min-height: 500px;
 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
#homeimg {
    display: flex;
}

.logonav {
    width: 100px;
    height: 100px;
    border-radius: -6px;
}

.picRight {
    float:right;
    margin-left:20px;
}





 








.special-card {

    margin: 0;

    padding: 0;

    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;  

    font-family: sans-serif;

    background-color: #f1f1f1; 

}

.container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #2c73df;

}

.container .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.container .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container .card:hover .slide.slide1{

    transform: translateY(0px);

}

.container .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

.container .card:hover .slide.slide2{

    transform: translateY(0);

}

.container .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #2c73df;

}

.container .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    color: #414141;

}

.container .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

    color: #414141;

} 










.continents-button-class {
    background-color: #FF0000;
    color: #FFFFFF;
}

.about-us-button-class{
    background-color: rgba(0, 255, 0, .2);
    color: #000000;
}

.navbar-class{
    background-color: rgba(122, 198, 217, 1);
 background-color: transparent;    
}

.navbar-btn-class{
    background-color: rgba(122, 198, 217, .5);
    font-weight: 450;
    color: #000000;
}

.ourmission-img {
    object-fit: contain;
    width: 900px;
    height: 500px;
    
}









* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.search {
    position: relative;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px #2573ef;
    overflow: hidden;
}

.search.active {
    width: 360px;
}

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #287dfc;
    border-radius: 50%;
    transform: translate(-4px,-4px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #287dfc;
    transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}


